sonata_admin:
    title: 'FoodBot'
    title_logo: 'img/icon-small.png'
    templates:
        layout: 'manage/standard_layout.html.twig'
    dashboard:
        blocks:
            - { type: sonata.admin.block.admin_list, position: left }
        groups:
            Manage:
                label: "Naručivanje"
                icon: "<i class=\"fa fa-cutlery\"></i>"
                items:
                    - admin.user
                    - route: app_manage_ordermanagement_getorderspanel
                      label: "Narudžbe"

sonata_block:
    blocks:
        sonata.admin.block.admin_list:
            contexts: [admin]
